<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Pessoas</h3>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>NOME</th>
            <th>SOBRENOME</th>
            <th>AÇÕES</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pessoa of pessoas" class="text-center">
            <td>{{ pessoa.id }}</td>
            <td>{{ pessoa.nome }}</td>
            <td>{{ pessoa.sobrenome }}</td>
            <td>
              <button (click)="editar(pessoa)" class="btn btn-warning">Editar</button>
              <button (click)="apagar(pessoa) "class="btn btn-danger">Apagar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>