
<html>

<head>

</head>

<body>
  <div class="panel panel-default" [ngStyle]="{'background-image': getUrl()}">
    <div style="text-align:center">
      <h1>
        Programming Language 2
      </h1>
      <img width="130" alt="Angular Logo"
        src="https://camo.githubusercontent.com/cc8c116a0174ba6f6884fda5415ccd232173d0c7/68747470733a2f2f63646e2e746970652e696f2f746970652f746970652d3130323478313032342e706e67">
    </div>
    <div style="text-align:center">
      <button (click)="Listar()" class="btn btn-info" style="margin: 1%">Listar</button>
      <button (click)="Novo()" class="btn btn-info" style="margin: 0.11%">Novo</button>
    </div>

    <router-outlet></router-outlet>
  </div>
</body>

<footer> Rai Bizerra Maciel - 2019 </footer>

</html>